# ignore for maven 
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# ignore for intellij
.idea/
*.iml
*.iws

# ignore for eclipse
.classpath
.project
.settings/

# ignore logs
build/

